[06.07.2026 14:30] Nazar: git commit -m "Додано музичний плеєр: пошук, збереження, видалення треків"
[06.07.2026 14:37] Nazar: # Дані користувачів
data/users.json
users.json

# Тимчасові файли музики
temp_music/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Середовище
.env